.hero{ background: url(../assets/images/hero.jpg) center / cover; }

/*de 769px a 1024px*/
@media (max-width: 1024px) { .hero { background: url(../assets/images/hero-tablet.jpg) center / cover; } }

/*de 0 a 768px*/
@media (max-width: 768px) { .hero { background: url(../assets/images/hero-mobile.jpg) center / cover; } }

.navbar-burger {
  width: auto;
}

.navbar-burger:hover {
  background-color: transparent;
}

.navbar-burger > a {
  background-color: rgba(0,0,0,0.06);
  border-radius: 10px;
  padding: 0.1em 1em;
  display: inline-block;
}

a.navbar-item {
  transition: background-color 0.4s ease-in-out;
}

a.navbar-item:hover {
  background-color: rgba(0,0,0,0.06);
  border-radius: 10px;
}

.hero-body > div {
  top: 75px;
}

.level {
  max-width: 768px;
  min-width: 320px;
}

.fullwidth-container {
  width: 100%;
}

.fullwidth-container > a {
  z-index: 1;
}

@media (max-width: 475px) {
  .fullwidth-container {
    margin-top: 1rem;
  }
  .hero-foot {
    margin-bottom: 20px;
  }
}

.is-overlay > svg {
  top: 93%;
}